* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.back {
    position: relative;
    background-color: rgb(10, 48, 104);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

button {
    padding: 20px;
}

button span {
    font-size: 30px;
}

#inp1 {
    position: absolute;
    left: 47%;
    top: 20%;
    padding: 10px 35px;
}

#inp2 {
    position: absolute;
    left: 28%;
    top: 20%;
    padding: 10px 35px;

}

#btn1 {
    position: absolute;
    top: 34%;
    left: 30%;
    background-color: rgb(145, 255, 0);
}

#btn2 {
    position: absolute;
    top: 34%;
    left: 38%;
    background-color: rgb(0, 101, 126);
}

#btn3 {
    position: absolute;
    top: 34%;
    left: 46%;
    background-color: blue;
}

#btn4 {
    position: absolute;
    top: 34%;
    left: 54%;
    background-color: rgb(247, 0, 255);
}
#result{
    position: absolute;
    top: 50%;
    left: 40%;
    font-size: 40px;
    color: white;
}